/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import 'tooltip.scss';

html, body {
    height: 100%;
    margin: 0;
    font-family: $font-family;
    overflow: hidden;
    background-color: $base-color;
    color: $text-color;
}
